<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="dbconnection" connectionString="Data Source=LAPTOP-HAPT2KIV\SQLEXPRESS;Initial Catalog=Telemedicine;User Id=sa;Password=123456789;Integrated Security=True;Connect Timeout=30;Encrypt=False;" providerName="System.Data.SqlClient" />
</connectionStrings>
